.calendar-cell {
  border: 3px solid white;
  border-radius: 7px;
  height: 50px;
  &.active {
    background-color: #00e67b;
  }
}

.calendar-row {
  gap: 10px;
  display: flex;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
