.calendar-cell {
  border: 3px solid white;
  border-radius: 7px;
  height: 35px;
  width: 35px;
  &.active {
    background-color: #00e67b;
  }
  &.inactive {
    background-color: transparent;
  }
}

.calendar-row {
  gap: 10px;
  display: flex;
}

.calendar-container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
