.emotion-container {
  background: linear-gradient(to bottom, #00b3e6, #00e67b);
  height: 100%;
  display: grid;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
}

/* Mobile Landscape and Small Tablets */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Laptops and Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}

/* Large Screens */
@media only screen and (min-width: 1281px) {
}
