.ui-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  text-decoration: none;
  &:focus {
    outline: 2px solid white;
  }

  &:disabled {
    opacity: 0.5;
  }
}
