.ui-input {
  font-size: 20;
  height: 3.5rem;
  width: 100%;
  margin-bottom: 20;
  border-radius: 10px;
  color: black;
}

.ui-select {
  font-size: 20;
  height: 3.5rem;
  width: 100%;
  margin-bottom: 20;
  border-radius: 10px;
  background-color: transparent !important;
  color: white;
  border: 2px solid white;
}
