.face-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.face-container-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
