body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.button {
  height: 100%;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.green {
  background: #00e67b;
  fill: #00e67b;
}
.red {
  background: #ff4d4d;
  fill: #ff4d4d;
}
.blue {
  background: #00b3e6;
  fill: #00b3e6;
}
.yellow {
  background: #e3dc62;
  fill: #e3dc62;
}

.nav-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

.form-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Custom arrow */
select {
  padding-left: 15px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/src/assets/icons/chevron-down.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  stroke: white;
}

// button reset
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
